body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}


.calculator {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}


.display {
    width: 100%; 
    font-size: 24px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box; 
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    background-color: #fa0b0b;
    cursor: pointer;
    transition: background-color 0.3s;
}

#impbtn{
    background-color: #860bfa;
}

button:hover {
    background-color: #ddd;
}
